<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <!-- <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('dashboard') }}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('deteksi') }}">
          <i class="bi bi-menu-button-wide"></i>
          <span>Deteksi</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link " href="{{ url_for('bantuan') }}">
          <i class="bi bi-question-circle"></i>
          <span>Bantuan</span>
        </a>
      </li> -->

      </ul>

  </aside><!-- End Sidebar-->